body {
	margin: 0px;
	background-image: url("wallpaper2.jpg");
}

#position-box {
	
	height: 400px;
	width: 700px;
	margin: auto;
}
#cover-box{
	position: absolute;
	top: 30%;
	
	
	height: 400px;
	width: 700px;
	background-color: black;
	border-radius: 8%;
}
#center-box{
	position: absolute;
	top: 25%;
	
	
	height: 450px;
	width: 700px;
	background-image: url("texture.jpg");
	border-radius: 4%;
	
	box-shadow: 10px 10px 8px black;
	z-index: 10;
}
#logo {
	position: absolute;
	top: -30px;
	left: 320px;
	
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 2px solid white;
	
	background-image: url("logo.jpg");
}

#he-man {
	height: 320px;
	width: 240px;
	
	position: absolute;
	left: 230px;
	top: -200px;
	border-radius: 80%;
	border: 8px solid white;
	background-image: url("heman.gif");
	
	z-index: 2;
	display: none;

}

#login-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	
	width: 80px;
	height: 30px;
	background-color: white;
	box-shadow: 1px 1px black;
	border-radius: 12%;
	
	color: #505050;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;

}
#title-box {
	position: absolute;
	top: 60px;
	
	width: 700px;
	height: 40px;

	color: white;
	font-size: 30px;
	text-align: center;
	font-family: Verdana;
	font-style: bold;
	text-shadow: 2px 2px black;
}
#subtitle-box {
	position: absolute;
	top: 100px;
	
	width: 700px;
	height: 20px;
	
	text-align: center;
	font-family: Verdana;
	text-shadow: 2px 2px black;
	color: white;

}

#facebook-icon {
	position: absolute;
	top: 135px;
	left: 220px;
	
	width: 40px;
	height: 40px;
	border-radius: 4%;
	
	background-image: url("fbicon2.png");
	z-index: 20;
}
#behindbox-fb {
	position: absolute;
	top: 135px;
	left: 240px;
	
	width: 280px;
	height: 40px;
	border-radius: 4%;
	background-color: white;

}
#facebook-box {
	position: absolute;
	top: 135px;
	left: 240px;
	
	width: 280px;
	height: 30px;
	border-radius: 4%;
	background-color: rgb(33,43,155);
	padding-top: 10px;
	
	font-size: 20px;
	text-align: center;
	color: white;
	font-style: bold;
	z-index: 10;
	box-shadow: 1px 1px black;
	
	text-decoration: none;
	
}
a#facebook-box:link {
}
a#facebook-box:visited {
}
a#facebook-box:hover{
	opacity: 0.9;
}
a#facebook-box:active{
}

#sep1 {
	position: absolute;
	top: 187px;
	left: 240px;
	
	height: 2px;
	width: 100px;
	
	background-color: white;
	
}
#or {
	position: absolute;
	top: 180px;
	left: 345px;
	
	font-size: 15px;
	color: white;
	text-decoration: none;
}
#sep2 {
	position: absolute;
	top: 187px;
	right: 235px;
	
	height: 2px;
	width: 100px;
	
	background-color: white;
}

.forms {
	width: 295px;
	height: 30px;
	border-radius: 4%;
	background-color: white;
}
#form1 {
	position: absolute;
	top: 200px;
	left: 220px;
	padding-top: 10px;
	padding-left: 5px;
	
	color: #505050;
	
}
#form2 {
	position: absolute;
	top: 250px;
	left: 220px;
	padding-top: 10px;
	padding-left: 5px;
	
	color: #505050;
	
}
#signup {
	width: 300px;
	position: absolute;
	top: 300px;
	left: 220px;
	padding-top: 5px;
	
	text-align: center;
	font-style: bold;
	font-size: 25px;
	
	color: white;
	background-color: #880000;
	border: 1px solid #600000;
	
	text-decoration: none;
	
}
#policy {
	width: 295px;
	height: 30px;
	position: absolute;
	top: 350px;
	left: 220px;
	
	text-align: center;
	color: white;
	font-size: 12px;
}




#lower-box {
	width: 400px;
	height: 80px;
	
	position: absolute;
	bottom: -80px;
	left: 150px;
	
}
.bignumber {
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px black;
	
}
.smallletters {
	font-size: 20px;
	color: white;
	text-shadow: 2px 1px black;
}
#part1 {
	width: 1.55em;
	height: 1em;
	margin-top: 10px;
	margin-left: 10px;
}
#part2 {

	position: absolute;
	top: 15px;
	left: 95px;
	
	width: 5em;
	height: 2.3em;
	
}
#divider1{
	position: absolute;
	top: 15px;
	left: 200px;
	
	width: 2px;
	height: 50px;
	
	background-color: white;
}
#part3 {
	position: absolute;
	top: 10px;
	right: 115px;
	
	width: 1.55em;
	height: 1em;

}
#part4 {
	position: absolute;
	top: 15px;
	right: 10px;
	
	width: 6em;
	height: 2em;

}





#bottom {
	position: absolute;
	bottom: 0px;
	
	width: 100%;
	height: 20px;
	
	background-color: white;
	border-top: 5px solid #909090;
}
#bottom-bar {
	margin: auto;
	width: 650px;
}
.bottom-gray {
	font-size: 10px;
	font-weight: bold;
	margin: 5px;
	text-decoration: none;

}
#bottom-bar-2 {
	position: absolute;
	bottom: 20px;
	
	width: 100%;
	height: 40px;

}
#nav2 {
	width: 600px;
	height: 30px;

	margin: auto;
}

.bottom-white {
	margin: 5px;
	text-decoration: none;
	
	color: white;
}